

<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<ul>
  <li><%= link_to "Редактировать", edit_post_path(@post) %></li>
  <li><%= link_to "Удалить", post_path(@post),
                 method: :delete,
                 data: { confirm: "Удалить пост?" } %></li>
</ul>

<h2>Комментарии</h2>
<%= render @post.comments %>

<h2>Комментировать:</h2>
<%= render 'comments/form' %>
